.navbar{
    .navbar-brand{
        span{
            background-color: $main-color;
        }
    }

    .nav-link{
        &:hover{
            color: $main-color;
        }
    }
}

#skills{
     .col-md-1{
        img{
           @include smartphone{
            width: 50px;
           }
        }
     }
   }

   #contact{
      img{
        @include smartphone{
            height: 250px;
        }
      }
   }



footer{
    span{
        background-color: $main-color;
    }


    img{
        width: 25px;

    }
}